<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>Cooper Worobetz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script type="text/javascript" src="script.js" defer></script>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
  </head>
  <body>
    <div id="header" class="container">
      <ul>
        <link-item 
          v-for="headerLink in headerLinks"
          v-bind:link="headerLink"
          v-bind:key="headerLink.id">
        </link-item>
      </ul>
    </div>

    <div id="content" class="container">
      <section-item
                      v-for="section in sections"
                      v-bind:section="section"
                      v-bind:key="section.id">
      </section-item>
    </div>
    <div id="version" class="container">
      <!-- Version -->
    </div>
  </body>
</html>
