html, body {
  font-family: 'Droid Serif', serif;
  color: #000080;
  font-size: 1.25em;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 1% 0 1%;
} 

a, a:visited {
  color: #000080;
  text-decoration: none;
}

#header ul {
  display: inline-flex;
  padding: 0px;
}

#header li {
  list-style: none;
  font-size: .75em;
  margin: 0 .5em 0 .5em;
}

#header a {
  border-radius: 4px;
  padding: 10px 8px;
  border-width: 1px;
  border-style: solid;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content #DevOps div {
  text-align: left;
  background-color: #002B36;
  color: #839496;
  border-radius: 15px;
  padding: 2%;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: .5em;
  font-variant: normal;
  line-height: 1.5em;
  white-space: nowrap;
  overflow-x: auto;
  margin: auto;
  max-width: 750px;
}

#version p {
  color: grey;
  font-size: .4em;
}

#devops {
  margin: 2%;
  display: inline-block;
}
